<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>layuiAdmin 角色管理</title>
<meta name="renderer" content="webkit">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport"
	content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link rel="stylesheet" href="../../layuiadmin/layui/css/layui.css"
	media="all">
<link rel="stylesheet" href="../../layuiadmin/style/admin.css"
	media="all">
</head>
<body>

	<div class="layui-fluid">
		<div class="layui-card">
			<div class="layui-form layui-card-header layuiadmin-card-header-auto">
				<div class="layui-form-item">
					<div class="layui-inline">
						<label class="layui-form-label">部门名称</label>
						<div class="layui-input-block">
							<input type="text" name="name" placeholder="请输入部门名称" autocomplete="off"
								class="layui-input">
						</div>
					</div>

					<!-- 查找按钮 -->
					<div class="layui-inline">
						<button class="layui-btn layuiadmin-btn-useradmin" lay-submit
							lay-filter="LAY-user-front-search">
							<i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
						</button>
					</div>
				</div>
			</div>
			<div class="layui-card-body">
				<div style="padding-bottom: 10px;">
					<button class="layui-btn layuiadmin-btn-role" data-type="batchdel">删除</button>
				</div>


				<table id="LAY-user-department" lay-filter="LAY-user-department"></table>
				<script type="text/html" id="table-useradmin-admin">
          <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
        </script>
			</div>
		</div>
	</div>

	<script src="../../layuiadmin/layui/layui.js"></script>
	<script>
		layui
				.config({
					base : '../../layuiadmin/' //静态资源所在路径
				})
				.extend({
					index : 'lib/index' //主入口模块
				})
				.use(
						[ 'index', 'useradmin', 'table' ],
						function() {
							var $ = layui.$, form = layui.form, table = layui.table;

							//监听搜索
							form.on('submit(LAY-user-front-search)', function(
									data) {
								var field = data.field;

								//执行重载
								table.reload('LAY-user-department', {
									where : field
								});
							});

							//删除事件-绿色删除按钮
							var active = {
								batchdel : function() {
									var checkStatus = table
											.checkStatus('LAY-user-department'), checkData = checkStatus.data; //得到选中的数据
									var id = '';
									for (var i = 0; i < checkData.length; i++) {
										id+=(i==0)?checkData[i].id:','+checkData[i].id;
										
									}
									if (checkData.length === 0) {
										return layer.msg(id);
									}

									layer.confirm('确定删除吗？', function(index) { 	
										$.ajax({
											type: "POST",
											url: 'http://172.18.20.57:10086/csi/dept/deleteDepts',
								        	data: {id: id},
								        	success: function(result) {
								        		layer.msg(result.msg);
								        		table.reload('LAY-user-department');
								        	}
										});
										
									});
								}
							}
							$('.layui-btn.layuiadmin-btn-role').on(
									'click',
									function() {
										var type = $(this).data('type');
										active[type] ? active[type].call(this)
												: '';
									});
						});
	</script>
</body>
</html>

